boto3
botocore
Brotli
cachelib
certifi
charset-normalizer
click
colorama
dash
dash-bootstrap-components
dash-core-components
EditorConfig
Flask
Flask-Cache
Flask-Caching
Flask-Compress
idna
itsdangerous
Jinja2
jmespath
jsbeautifier
MarkupSafe
more-itertools
numpy
pandas
plotly
python-dateutil
pytz
requests
s3transfer
six
tenacity
urllib3
Werkzeug
